repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.6
    hooks:
      - id: ruff
        args: [--fix]
        files: ^(pystemd|examples|tests|e2e)/
      - id: ruff-format
        files: ^(pystemd|examples|tests|e2e)/
  - repo: https://github.com/pycqa/isort
    rev: 6.0.0
    hooks:
      - id: isort
